.fraxion-calculations_wrapper {
    margin-top: 20px;
    border: 1px solid #d7dde3;

    .description,
    .column {
        > div {
            padding: 5px 10px;
            border-top: 1px solid #d7dde3;
            vertical-align: middle;
            min-width: 120px;
            min-height: 32px;

            &:first-of-type {
                height: 50px;
            }
        }
    }
    .description {
        > div {
            min-width: 160px;
        }
    }
    .column {
        > div {
            text-align: right;
        }

        &.active {
            > div {
                background-color: rgba(0, 0, 0, .05);
                position: relative;

                &:first-of-type {
                    &::after {
                        content: '[current - unsaved]';
                        position: absolute;
                        right: 8px;
                        top: -21px;
                        color: red;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.fraxion-calculations-table__wrapper {
    > div {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        table {
            tbody {
                tr {
                    td,
                    th {
                        font-size: .9rem;
                        white-space: nowrap;
                        border: 1px solid #ddd;
                        text-align: right;
                        padding: 1px 8px;

                        &:first-of-type {
                            background-color: #eee;
                            position: sticky;
                            left: -1px;
                            text-align: center;
                            width: 32px;
                            display: inline-block;
                        }

                        &:nth-of-type(3) {
                            min-width: 110px;
                        }

                        &:nth-of-type(2),
                        &:nth-of-type(5) {
                            min-width: 110px;
                            text-align: left;
                        }
                    }

                    &:first-of-type {
                        td,
                        th {
                            font-size: .9rem;
                            background-color: #eee;
                            position: sticky;
                            left: -1px;
                            text-align: center;
                        }
                    }

                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                        td,
                        th {
                            &:nth-of-type(4),
                            &:nth-of-type(5),
                            &:nth-of-type(6),
                            &:nth-of-type(7),
                            &:nth-of-type(8),
                            &:nth-of-type(9),
                            &:nth-of-type(10),
                            &:nth-of-type(11),
                            &:nth-of-type(12) {
                                font-weight: 600;
                                text-align: center;
                            }
                        }
                    }

                    &:nth-of-type(3) {
                        td,
                        th {
                            &:nth-of-type(14) {
                                font-weight: 600;
                                text-align: center;
                            }
                        }
                    }

                    &:nth-of-type(7),
                    &:nth-of-type(19),
                    &:nth-of-type(38) {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}