#column-full_names{
    width: 405px;
}

.editorClassName .rdw-editor-main{
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #efeeee;
    padding: 5px;
}
.login-logo{
    background-color: white;
    border-radius: 50% !important;

}