a { color: $primary; }

.btn-secondary {
    color: #fff;
    background-color: #800020;
    border-color: #361010;

    &:hover,
    &:focus {
        color: #fff;
        background-color: #800020;
    }
}

.card-icon-bg-primary [class^="i-"] {
    color: rgba($color: $primary, $alpha: .28);
}

.text-primary {
    color: $primary !important;
}

.btn-primary,
.btn-outline-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover,
    &:focus {
        background-color: $primary;
        border-color: $primary;
        box-shadow: 0 8px 25px -8px $primary;
    }
}
.btn.btn-outline-primary.btn-svg,
.btn.btn-outline-primary.btn-svg {
    color: $primary;
    background-color: white;
    border-color: $primary;
}
.btn.btn-outline-primary.btn-svg.active,
.btn.btn-outline-primary.btn-svg:hover {
    background: $primary;
    border-color: $primary;
}
.btn.btn-outline-secondary.btn-svg,
.btn.btn-outline-secondary.btn-svg {
    color: $secondary;
    background-color: white;
    border-color: $secondary;
}
.btn.btn-outline-secondary.btn-svg.active,
.btn.btn-outline-secondary.btn-svg:hover {
    color: white;
    background: $secondary;
    border-color: $secondary;
}

.input-group {
    .custom-select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.form-control {
    &:focus {
        border-color: rgba($color: $primary, $alpha: .4);
        box-shadow: 0 0 0 0.2rem rgba($color: $primary, $alpha: .25);
    }
}

.badge-primary {
    background-color: $primary;
}

.app-inro-circle {
    .big-bubble {
        background-color: rgba($color: $secondary, $alpha: .8);
    }
}

.sw-theme-dots > ul.step-anchor > li > a:before {
    color: $primary !important;
}
.sw-theme-dots > ul.step-anchor > li.active > a:after {
    background-color: $primary !important;
    left: 44%;
}
.sw-theme-dots > ul.step-anchor > li.done > a:after {
    background-color: $secondary !important;
}

.accordion {
    .btn {
        padding-left: 0;
        padding-right: 0;
    }

    .card {
        .card-header {
            h5,
            .btn-link {
                font-weight: bold;
            }
        }

        &.active,
        &.done {
            .card-header {
                background-color: $secondary;

                h5,
                .btn-link {
                    color: white;
                }
            }
        }
    }
}

.layout-sidebar-compact {
    .sidebar-left {
        .navigation-left {
            .nav-item {
                transition: all 300ms ease;
                &:hover {
                    color: #fff;
                    border-left: 2px solid #fff;
                    transition: all 300ms ease;
                }

                &.active {
                    border-left-color: $primary;
                    color: $primary;
                }
            }
        }
    }

    &.sidenav-collapsed {
        .main-content-wrap {
            width: calc(100% - 76px);
        }
    }

    .sidebar-left-secondary {
        z-index: 100;
        header {
            .logo {
                padding: 0;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: left;
    background: #f8f9fa;
    border: 1px solid #eee;
    border-radius: 20px;
    position: relative;
    width: 230px;
    height: 40px;

    input {
        background: 0 0;
        border: 0;
        color: #212121;
        font-size: .8rem;
        line-height: 2;
        height: 100%;
        outline: initial!important;
        padding: .5rem 1rem;
        width: calc(100% - 32px);

        .search-icon {
            font-size: 18px;
            width: 24px;
            display: inline-block;
        }
    }
}

// daterange
.daterangepicker {
    &.dropdown-menu {

        &.show {
            display: block;
            left: auto;
            top: 40px;
            right: 45px;
        }
    }
}

// ngx-pagination
.ngx-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.ngx-pagination {
    margin-left: 0;
    margin-bottom: 1rem;

    &::before,
    &::after {
        content: ' ';
        display: table;
    }

    li {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin-right: 0.0625rem;
        border-radius: 0;
        display: inline-block;
    }

    .pagination-next,
    .pagination-previous {
        border-radius: 10px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: #47404f;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                line-height: 100%;
            }
        }
    }

    a,
    button {
        cursor: pointer;
        color: #0a0a0a;
        display: block;
        padding: 0.1875rem 0.625rem;
        border-radius: 0;
    }

    .small-screen {
        display: none;
    }

    .show-for-sr {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
    }

    .pagination-next a::after,
    .pagination-next.disabled::after,
    .pagination-previous a::before,
    .pagination-previous.disabled::before {
        font-family: iconsmind;
        speak: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        font-size: 32px;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .pagination-previous a::before,
    .pagination-previous.disabled::before {
        content: "\f077";
        display: inline-block;
        margin-right: 0.5rem;
    }

    .current {
        padding: 0.1875rem 0.625rem;
        background: #2199e8;
        color: #fefefe;
        cursor: default;
    }
}

.ngx-pagination li:not(.pagination-previous):not(.pagination-next):not(.small-screen) {
    border: none;
    background: 0 0;
    border-radius: 50%!important;
    margin: 0 4px!important;
    text-align: center;
    height: 36px;
    width: 36px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ngx-pagination li:not(.pagination-previous):not(.pagination-next):not(.small-screen).current {
    border: 1px solid $primary;
    background: $primary;
    color: #fff;
}

.ngx-pagination li:not(.pagination-previous):not(.pagination-next):not(.small-screen) span {
    line-height: 100%;
}

.ngx-pagination li:not(.pagination-previous):not(.pagination-next):not(.small-screen) a span {
    line-height: 100%;
}

// .react-confirm-alert
.react-confirm-alert {
    .react-confirm-alert-body {
        h1 {
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
}